*
!package.json
!bin/
!bin/**
!src/
!src/**
!starters/
!starters/**
!templates/
!templates/**
!etc/
!etc/organizer/
!etc/organizer/organizer.md
!etc/opencode/
!etc/opencode/opencode.json
!etc/pi/
!etc/pi/models.json
!etc/pi/settings.json
